@mixin flexy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin slidy($url) {


  background: linear-gradient(black, transparent 50%), linear-gradient(0deg, rgba(255, 255, 255, 0.3), transparent), black url($url) center center no-repeat;
  background-size: cover;
}

@function pix-to-em($px, $context: 16) {
  @return (($px / $context) *  1em);
}

%clearfix {

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin button($color, $shadow: null, $text: white) {
  background: $color;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:    $shadow;
  box-shadow:         $shadow;
  padding: 8px 15px;
  color: $text;
  font-size: 16px;
  border-radius: 4px;
  border-color: none;
  border-style: none;
  cursor: pointer;
}
