$font : "San Francisco Display","Helvetica Neue", sans-serif;

$green : #8DD83D;
$dark-gradient: linear-gradient(to bottom, #686C6F, #373A3C);
$dark-bg: #373A3C;
$dark-radial-bg: radial-gradient(circle at top center, #686C6F 0%, #373A3C 100%);
$text-color: #546A79;
